<h2><%= @post.title %></h2>
<h2><%= @post.content %></h2>
<% if @post.categories.size > 0 %>
Categories:
<ul>
  <%= @post.categories.each do |category| %>
    sfdf
  <% end %>
</ul>
<% end %>

<% if @post.comment_count > 0 %>
Comments:
<ul>
  <%= @post.comments.each do |comment| %>
    <li><%= comment.content %> </li>
  <% end %>
</ul>
<% end %>
