<h2><%= @post.title %></h2>
<h2><%= @post.content %></h2>
<% if @post.categories.size > 0 %>
Categories:
<ul>
  <%= @post.categories.each do |category| %>
    <li><%= link_to category.name, category %>  </li>
  <% end %>
</ul>
<% end %>

<% if @post.comment_count > 0 %>
Comments:
<ul>
  <%= @post.comments.each do |comment| %>
    <li><%= comment.content %> </li>
  <% end %>
</ul>
<% end %>

<% if @post.users.size > 0 %>
Users who comment in the post:
<ul>
  <%= @post.users.each do |user| %>
    <li><%= link_to user.username, user %> </li>
  <% end %>
</ul>
<% end %>
